{{- $item := .item -}}
{{- $has_attachments := partial "functions/has_attachments" $item -}}

{{- $link := $item.RelPermalink -}}
{{- $target := "" -}}
{{- if $item.Params.external_link -}}
  {{- $link = $item.Params.external_link -}}
  {{- $target = "target=\"_blank\" rel=\"noopener\"" -}}
{{- end -}}

{{- $resource := partial "blox-core/functions/get_featured_image.html" $item -}}
{{- $primary_tag := "" -}}
{{- with $item.Params.tags -}}
  {{- $primary_tag = index . 0 -}}
{{- end -}}

{{- $date := $item.Date -}}
{{- if not $date -}}
  {{- $date = $item.PublishDate -}}
{{- end -}}
{{- if not $date -}}
  {{- $date = $item.Lastmod -}}
{{- end -}}
{{- $date_display := "" -}}
{{- $date_iso := "" -}}
{{- if $date -}}
  {{- $date_display = ($date.Format (site.Params.date_format | default "Jan 2, 2006")) -}}
  {{- $date_iso = ($date.Format "2006-01-02") -}}
{{- end -}}

{{- $placeholder := "?" -}}
{{- with $item.Title | plainify | strings.TrimSpace -}}
  {{- if gt (len .) 0 -}}
    {{- $placeholder = upper (substr . 0 1) -}}
  {{- end -}}
{{- end -}}

<div class="hb-custom-card">
  <a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="hb-custom-card__media">
    {{- with $primary_tag -}}
      <span class="hb-custom-card__badge">{{ . }}</span>
    {{- end -}}
    {{- with $resource -}}
      {{- $image := . -}}
      {{- if eq (printf "%T" $image) "*resources.Image" -}}
        {{- $processed := $image.Resize "800x" -}}
        {{- if ne $processed.MediaType.SubType "gif" -}}
          {{- $processed = $processed.Process "webp" -}}
        {{- end -}}
        <img src="{{ $processed.RelPermalink }}" height="{{ $processed.Height }}" width="{{ $processed.Width }}" alt="{{ $item.Title }}" loading="lazy">
      {{- else -}}
        <img src="{{ $image.RelPermalink }}" alt="{{ $item.Title }}" loading="lazy">
      {{- end -}}
    {{- else -}}
      <span class="hb-custom-card__media--placeholder">{{ $placeholder }}</span>
    {{- end -}}
  </a>

  <div class="hb-custom-card__body">
    {{- if or $date $item.Params.authors -}}
      <div class="hb-custom-card__meta">
        {{- if $date -}}
          <time datetime="{{ $date_iso }}">{{ $date_display }}</time>
        {{- end -}}
        {{- if $item.Params.authors -}}
          <span>{{ partial "page_metadata_authors" $item }}</span>
        {{- end -}}
      </div>
    {{- end -}}

    <h4 class="hb-custom-card__title">
      <a href="{{ $link }}" {{ $target | safeHTMLAttr }}>{{ $item.Title | markdownify | emojify }}</a>
    </h4>

    <div class="hb-custom-card__footer">
      {{- if $has_attachments -}}
        <div class="hb-custom-card__links">
          {{- partial "page_links" (dict "page" $item "is_list" 1) -}}
        </div>
      {{- end -}}
      <a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="hb-custom-card__more">Read more →</a>
    </div>
  </div>
</div>
