{{/* Widget to display a SwiperJS slider. */}}
{{ $widget := . }}
{{ if $widget.active }}
<div class="container-fluid universal-wrapper">
  <div class="row">
    <div class="col-12">
      <div class="swiper">
        <div class="swiper-wrapper">
          {{ with $widget.Params.slides }}
            {{ range . }}
              <div class="swiper-slide">
                <img src="{{ .image | relURL }}" alt="{{ .caption | default "" }}" style="width:100%;">
                {{ if .caption }}<p class="swiper-caption">{{ .caption }}</p>{{ end }}
              </div>
            {{ end }}
          {{ end }}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</div>
{{ end }}