<div class="swiper my-4"> <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="/media/slider/image1.jpg" alt="슬라이드 이미지 1" style="width:100%;"></div>
    <div class="swiper-slide"><img src="/media/slider/image2.jpg" alt="슬라이드 이미지 2" style="width:100%;"></div>
    <div class="swiper-slide"><img src="/media/slider/image3.jpg" alt="슬라이드 이미지 3" style="width:100%;"></div>
  </div>
  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>